{% load staticfiles %}

<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">

    <link rel="stylesheet" href="{% static '/node_modules/bootstrap/dist/css/bootstrap.min.css' %}" media="all">
    <link rel="stylesheet" href="{% static '/node_modules/datatables/media/css/jquery.dataTables.min.css' %}" media="all">
    <link rel="stylesheet" href="{% static '/css/main.css' %}" media="all">

    <script type="text/javascript" src="{% static '/node_modules/jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/node_modules/jquery-validation/dist/jquery.validate.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/node_modules/datatables/media/js/jquery.dataTables.min.js' %}"></script>
    
    <script type="text/javascript" src="{% static '/js/common.js' %}"></script>

    <title>{{ pageTitle }}</title>
</head>

<body class="{{ bodyClass }}">
	{% if hasTopBar is True %}
    <header id="masthead" class="site-header">
        <div class="inner">
            <h1 class="site-title"><a class="site-title-link" href="/">Nalanda Project</a></h1>
            <span style="color:#ffffff">Current User: {{ "current_user" }}</span>
            <a href="/logout" class="log-out" title="Log Out"><i class="glyphicon glyphicon-log-out"></i> Log Out</a>
        </div>
    </header>
    {% endif %}
    <div id="main" class="site-main">
