{% extends "__base_sidebar.html" %}

<html>
<head>
    <script type="text/javascript" src="../static/node_modules/jquery/dist/jquery.min.js"></script>
<script>

    $(document).ready(function () {

        $("#approvebutton").click(function(){

            var approveresult={};
            var disapproveresult=[];

            $('#approvetable').find('tr').each(function () {
                var row = $(this);

                if (row.find('input[name="appchk"]').is(':checked')) {
                    var rowapprove={};

                    if(approveresult[row[0].children[0].innerHTML]!=null) {
                        if (row[0].children[4].id) {
                            approveresult[row[0].children[0].innerHTML].push(parseInt(row[0].children[4].id));
                        }
                    }
                    else
                    {
                        approveresult[row[0].children[0].innerHTML]=[];
                        if(row[0].children[4].id) {
                            approveresult[row[0].children[0].innerHTML].push(parseInt(row[0].children[4].id));
                        }
                    }

                }

                if(row.find('input[name="disappchk"]').is(':checked'))
                {
                    var rowdisapprove={};
                    if(disapproveresult[row[0].children[0].innerHTML]!=null) {
                        if (row[0].children[4].id) {
                            disapproveresult[row[0].children[0].innerHTML].push(parseInt(row[0].children[4].id));
                        }
                    }
                    else {
                        disapproveresult[row[0].children[0].innerHTML] = [];
                        if (row[0].children[4].id) {
                            disapproveresult[row[0].children[0].innerHTML].push(parseInt(row[0].children[4].id));
                        }
                    }
                }

            });

            var finalresult=[];

            for( obj in approveresult)
            {
                var result={};
                result.username=obj;
                result.classes=approveresult[obj];
                finalresult.push(result);
            }

            var approveresultobj={};
            approveresultobj.users=finalresult;

            finalresult=[];

            for( obj in disapproveresult)
            {
                var result={};
                result.username=obj;
                result.classes=approveresult[obj];
                finalresult.push(result);
            }

            var disapproveresultobj={};
            disapproveresultobj.users=finalresult;

            ajaxrequest('/nalanda/approve', approveresultobj);

            ajaxrequest('/nalanda/disapprove', disapproveresultobj);

        });

        function ajaxrequest(url, dataObject) {
            $.ajax({
                type: 'POST',
                url: url,
                data: JSON.stringify(dataObject),
                success: function (result, textStatus, jqXHR) {
                },
                error: function (jqXHR, textStatus, errorThrown) {
                },
                dataType: 'json'
            });
        };
    });
</script>
</head>
<body>
<table id="approvetable">
    <th>
        <td>
            username
        </td>
        <td>
            email
        </td>
        <td>
            role
        </td>
        <td>
            Institute Name
        </td>
        <td>
            class name
        </td>
        <td>
            approved
        </td>
        <td>
            disapproved
        </td>
    </th>
    <tr>

        <td>
            r.username
        </td>
        <td>
            r.email
        </td>
        <td>
            r.role
        </td>
        <td>
            r.instituteName
        </td>
        <td id="1">
            r.className
        </td>
        <td>
            <input name="appchk" id="1" type="checkbox" checked/>
        </td>
        <td>
            <input name="disappchk" id="1" type="checkbox"/>
        </td>
    </tr>
    <!--{% for r in pendingUsers%}-->
    <!--<tr>-->
        <!--<td>-->
            <!--{{r.username}}-->
        <!--</td>-->
        <!--<td>-->
            <!--{{r.email}}-->
        <!--</td>-->
        <!--<td>-->
            <!--{{r.role}}-->
        <!--</td>-->
        <!--<td>-->
            <!--{{r.instituteName}}-->
        <!--</td>-->
        <!--<td id={{r.classId}}>-->
            <!--r.className-->
        <!--</td>-->
        <!--<td>-->
            <!--<input name="appchk" id={{r.classId}} type="checkbox"/>-->
        <!--</td>-->
        <!--<td>-->
            <!--<input name="disappchk" id={{r.classId}} type="checkbox"/>-->
        <!--</td>-->
        <!--{% endfor%}-->
    <!--</tr>-->
    <!--{% endfor %}-->
    <tr>
        <td>
            r.username
        </td>
        <td>
            r.email
        </td>
        <td>
            r.role
        </td>
        <td>
            r.instituteName
        </td>
        <td id="2">
            r.className
        </td>
        <td>
            <input name="appchk" type="checkbox" checked/>
        </td>
        <td>
            <input name="disappchk" type="checkbox" checked/>
        </td>

    </tr>
    <tr>
        <td>
            r.emptyclass
        </td>
        <td>
            r.email
        </td>
        <td>
            r.role
        </td>
        <td>
            r.instituteName
        </td>
        <td ></td>
        <td>
            <input name="appchk" type="checkbox" checked/>
        </td>
        <td>
            <input name="disappchk" type="checkbox"/>
        </td>
    </tr>
</table>
<div>
    <input type="submit" id="approvebutton" value="Bulk Approve">
</div>
<table>
    <th>
    <td>
        username
    </td>
    <td>
        email
    </td>
    <td>
        role
    </td>
    <td>
        Institute Name
    </td>
    <td>
        class name
    </td>
    <td>
        unblock
    </td>
    </th>
    {% for r in blockedUsers%}
    <tr>
        <td>
            {{r.username}}
        </td>
        <td>
            {{r.email}}
        </td>
        <td>
            {{r.role}}
        </td>
        <td>
            {{r.instituteName}}
        </td>
        <td id={{r.classId}}>
            r.className
        </td>
        <td>
            <input type="checkbox"/>
        </td>
    </tr>
    {% endfor %}
</table>
<div>
    <input type="submit" value="Bulk Unblock">
</div>
</body>
</html>
