<html >

<head>
    <!--<link rel="stylesheet" href="../static/css/main.css" media="all">-->
    <link rel="stylesheet" href="../static/node_modules/bootstrap/dist/css/bootstrap.min.css" media="all">
    <!--<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>-->
    <!--<script type="text/javascript" src="http://yourjavascript.com/7174319415/script.js"></script>-->
    <link rel="stylesheet" href="../static/css/main.css" media="all">
    <!-- jquery -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <!-- jquery -->
    <script type="text/javascript" src="../static/node_modules/jquery/dist/jquery.min.js"></script>
    <!-- bootstrap -->

    <script type="text/javascript">

        // initialize data from the template
        alldata = "{{data|safe}}";
        alljsondata = alldata.replace(new RegExp('\'','g'),'"');
        var institutedata = JSON.parse(alljsondata)['data']['institutes'];

        $(document).ready(function () {

            // on page load follloiwng actions should be taken
            // 1. hide institutes drop down and classes drop donw
            $("#InstitutesSelecDiv").hide();
            $('#checkBoxesOuterdiv').append('<div id="checkBoxesInnerdiv"/>')
            $("#checkBoxesInnerdiv").hide();

            // 2. initialize classes drop down with respect to first value of school
            for (j = 0; j < institutedata[0]['classes'].length; j++) {
                $('#checkBoxesInnerdiv').append('<input type="checkbox" name="checks[]"  value="' + institutedata[0]['classes'][j]['id'] + '"/> ' + institutedata[0]['classes'][j]['name'] + '<br />');
            }

            // This function is performed when role is changed
            // It shows institutes or classes based on role sleected
            $('#RoleSelect').change(function () {
                var optionSelected = $(this).find("option:selected");
                var idselected = optionSelected[0].id;

                if (idselected == "BoardMem") {
                    $("#InstitutesSelecDiv").hide();
                    $("#checkBoxesInnerdiv").hide();

                }
                else if (idselected == "SchoolLed") {
                    $("#InstitutesSelecDiv").show();
                    $("#checkBoxesInnerdiv").hide();

                    for(i=0;i<institutedata.length;i++) {
                        $('#InstitutesSelect').append('<option id="' + institutedata[i].id + '">' + institutedata[i].name + '</option>')
                    }

                }
                else if (idselected == "Teacher") {
                    $("#InstitutesSelecDiv").show();
                    $("#checkBoxesInnerdiv").remove();
                    $('#checkBoxesOuterdiv').append('<div id="checkBoxesInnerdiv"/>');
                    $('#checkBoxesInnerdiv').append('<label >Classes</label></br>');

                    for(i=0;i<institutedata.length;i++) {
                        $('#InstitutesSelect').append('<option id="' + institutedata[i].id + '">' + institutedata[i].name + '</option>')
                    }

                    var optionSelected = $('#InstitutesSelect').find("option:selected");
                    var valueSelected = optionSelected.val();

                    for (i = 0; i < institutedata.length; i++) {
                        if (institutedata[i]['name'] == valueSelected) {
                            for (j = 0; j < institutedata[i]['classes'].length; j++) {
                                $('#checkBoxesInnerdiv').append('<input type="checkbox" name="checks[]"  value="' + institutedata[0]['classes'][j]['id'] + '"/> ' + institutedata[0]['classes'][j]['name'] + '<br />');
                            }
                            $("#checkBoxesInnerdiv").show();
                            break;

                        }
                    }
                }
            });

            // This function is performed when institute is changed or selected
            // It shows classes based on role selected
            $('#InstitutesSelect').change(function () {

                var optionSelected = $(this).find("option:selected");
                var valueSelected = optionSelected.val();

                optionSelected = $('#RoleSelect').find("option:selected");
                var idselected = optionSelected[0].id;

                if (idselected == "Teacher") {

                    $("#checkBoxesInnerdiv").remove();
                    for (i = 0; i < institutedata.length; i++) {
                        if (institutedata[i]['name'] == valueSelected) {
                            $('#checkBoxesOuterdiv').append('<div id="checkBoxesInnerdiv"/>');
                            $('#checkBoxesInnerdiv').append('<label >Classes</label></br>');
                            for (j = 0; j < institutedata[i]['classes'].length; j++) {
                                $('#checkBoxesInnerdiv').append('<input type="checkbox" name="checks[]" value="' + institutedata[i]['classes'][j]['id'] + '"/> ' + institutedata[i]['classes'][j]['name'] + '<br />');
                            }

                            break;
                        }
                    }
                }
            });

            $('#Register').click(function () {
                register();
            });

            function register() {
                var object = {};
                object.firstName = $('#firstName').val();
                object.lastName = $('#lastName').val();
                object.username = $('#username').val();
                object.password = $('#password').val();
                object.email = $('#email').val();

                idselected = $('#RoleSelect').children(":selected").attr("id")
                if (idselected === "BoardMem") {
                    object.role = 1;
                }
                else if (idselected === "SchoolLed") {
                    object.role = 2;
                    object.instituteId = $('#InstitutesSelect').children(":selected").attr("id");
                }
                else if (idselected === "Teacher") {
                    object.role = 3;
                    object.instituteId = $('#InstitutesSelect').children(":selected").attr("id");

                    var classes = [];
                    $('#checkBoxesInnerdiv').find(':checkbox:checked').each(function () {
                        classes.push(parseInt($(this).val()));
                    });

                    object.classes = classes;
                }

                ajaxrequest('/nalanda/register', object);
            }

            function ajaxrequest(url, dataObject) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: JSON.stringify(dataObject),
                    success: function (result, textStatus, jqXHR) {
                        $('#Message').innerText=result.info.title;
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                    },
                    dataType: 'json'
                });
            };

        });

    </script>

</head>
<body class="login">
<h1 class="site-title">Kolibri Visualizer</h1>
<div class="content">
    <div><label id="Message"></label></div>
    <h2>Register a new account</h2>
    <form id="registration" name="registration", method="POST">
        <label for="firstName">First Name</label>
        <div class="input">
            <input name="firstName" id="firstName" required type="text" >
        </div>
        <label for="lastName">Last Name</label>
        <div class="input">
            <input id="lastName" name="lastName" required type="text" >
        </div>
        <label for="username">Username</label>
        <div class="input">
            <input id="username" name="username" type="text" required >
        </div>
        <label for="password">Password</label>
        <div class="input">
            <input id="password" name="password" type="password" required>
        </div>
        <label for="email" >Email</label>
        <div class="input">
            <input id="email" name="email" type="text" required>
        </div>
        <label for="RoleSelect" class="label-size">Role</label>
        <div class="input">
            <select id="RoleSelect" name="RoleSelect">
                <option value="Board Member" id="BoardMem">Board Member</option>
                <option value="School Leader" id="SchoolLed">School Leader</option>
                <option value="Teacher" id="Teacher">Teacher</option>
            </select>
        </div>
        <div id="InstitutesSelecDiv">
            <label for="InstitutesSelect">Institue</label>
            <div class="input">
                <select id="InstitutesSelect" name="InstitutesSelect">
                </select>
            </div>
        </div>
        <div id="checkBoxesOuterdiv"></div>
        </br>
        <div>
            <input name="Register" id="Register" value="Register" class="btn btn-success submit-button">
        </div>
    </form>
    <div class="alternate-option">
        Already has an account? <a href="/login">Click to login</a>
    </div>
</div>
</body>
</html>
