<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">

    <!-- jquery -->
    <script type="text/javascript" src="../static/node_modules/jquery/dist/jquery.min.js"></script>
    <!-- bootstrap -->
    <script type="text/javascript" src="../static/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/node_modules/bootstrap/dist/css/bootstrap.min.css" media="all">
    <!-- jquery validation -->
    <script type="text/javascript" src="../static/node_modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <!-- jquery fancytree -->
    <script type="text/javascript" src="../static/node_modules/jquery.fancytree/dist/jquery.fancytree-all-deps.min.js"></script>
    <link rel="stylesheet" href="../static/node_modules/jquery.fancytree/dist/skin-lion/ui.fancytree.min.css" media="all">
    <!-- jquery datatables -->
    <script type="text/javascript" src="../static/node_modules/datatables/media/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="../static/node_modules/datatables/media/css/jquery.dataTables.min.css" media="all">
    <!-- bootstrap daterangepicker -->
    <script type="text/javascript" src="../static/node_modules/moment/min/moment.min.js"></script>
    <script type="text/javascript" src="../static/node_modules/bootstrap-daterangepicker/daterangepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/node_modules/bootstrap-daterangepicker/daterangepicker.css">
    <!-- font awesome -->
    <link rel="stylesheet" href="../static/node_modules/font-awesome/css/font-awesome.min.css">
    <!-- google charts -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    
    <script type="text/javascript" src="../static/js/common.js"></script>
    <link rel="stylesheet" href="../static/css/main.css" media="all">

    <title>Report Mastery</title>
</head>

<body class="">
    <header id="masthead" class="site-header">
        <div class="inner">
            <h1 class="site-title"><a class="site-title-link" href="/">Nalanda Project</a></h1>
            <span style="color:#ffffff">Current User: {{ "current_user" }}</span>
            <a href="/logout" class="log-out" title="Log Out"><i class="glyphicon glyphicon-log-out"></i> Log Out</a>
        </div>
    </header>
    <div id="main" class="site-main">
        <div class="content-area">
            <div id="primary" class="site-content">
                <div class="report-header">
                    <h1 class="page-title">Mastery Report</h1>
                    <div class="btn-group report-types" role="group" aria-label="...">
                        <button type="button" class="btn btn-default"><i class="fa fa-table" aria-hidden="true"></i> Table</button>
                        <button type="button" class="btn btn-default"><i class="fa fa-align-left" aria-hidden="true"></i> Compare</button>
                        <button type="button" class="btn btn-default">Performance</button>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="report-settings row">
                    <div class="topic col-md-6">
                        Topic: 
                        <button class="btn btn-default" type="button" onclick="toggleTopicDropdown();">
                            Everything
                            <span class="caret"></span>
                        </button>
                        <div id="topic-dropdown-container" class="topic-dropdown-container">
	                        <div class="search">
		                        <input type="search" id="topic-filter-field" placeholder="Filter topics...">
		                        <i id="reset-search" class="fa fa-times" aria-hidden="true"></i>
	                        </div>
                            <div id="topics-tree"></div>
                            <div class="controls">
	                            <button class="btn btn-default btn-xs btn-primary" onclick="applyAndDismissTopicDropdown()">Apply</button>
	                            <button class="btn btn-default btn-xs" onclick="toggleTopicDropdown()">Cancel</button>
                            </div>
                        </div>
                    </div>
                    <div class="dates col-md-6">
                        <div class="datepicker-title">Data Range:</div>
                        <input class="daterangepicker" name="daterange">
                    </div>
                </div>
                <div class="report-breadcrumb">

                </div>
                <div class="report-content">
                    <div class="table-view">
                        <table id="data-table" class="display" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <!-- metric columns -->
                                    <th class="trend-column">Trend</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- data rows -->
                            </tbody>
                        </table>
                        <table id="aggregation-table" class="display" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <!-- metric columns -->
                                    <th class="trend-column">Trend</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- data rows -->
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Name</th>
                                    <!-- metric columns -->
                                    <th class="trend-column">Trend</th>
                                </tr>
                            </tfoot>
                        </table>
                        <div id="trend-chart">
                            <div id="chart-container" class="chart-container"></div>
                        </div>
                    </div>
                    <div class="compare-view">

                    </div>
                    <div class="performance-view">

                    </div>
                </div>
            </div>
        </div>
        <div id="secondary" class="site-sidebar">
            <ul class="site-navigation">
                <li class="heading">Admin</li>
                <li class="navigation-item"><a href="/admin-users"><i class="glyphicon glyphicon-user"></i>&nbsp; Users</a></li>
                <li class="heading">Reports</li>
                <li class="navigation-item current"><a href="/report-mastery">Mastery</a></li>
            </ul>
        </div>
    </div>
    <!-- .site-main -->
    <footer id="colophon" class="site-footer">
        &copy; 2017 Carnegie Mellon University
    </footer>
    <script>        
        // globals
        var table; // main data table
        var aggregationTable; // aggregration rows table
        var startTimestamp = 1496948693; // default: from server
        var endTimestamp = 1596948693; // default: from server
        var topicId = -1; // default: everything
        var parentLevel = 0; // default: parent-of-root-level
        var parentId = -1; // default: none (at root level already, no parent)
        var debug = true; // whether to print debug outputs to console
        var breadcrumbData = null; // holds breadcrumb data that will be used to re-build the breadcrumb links when clicked
        
        /** Pragma Mark - Starting Points **/
        
        // Update page (incl. new breadcrumb and all table/diagrams)
        // Uses global variables `startTimestamp`, `endTimestamp`, `topicId`, `parentLevel`, and `parentId`
        var updatePageContent = function() {
	        
	        var tableData1;
	        var tableData2;
	        
	        // Making sure `setTableData` happens AFTER `setTableMeta`
	        
			sendPOSTRequest('/api/mastery/get-page-meta', {
				startTimestamp: startTimestamp,
				endTimestamp: endTimestamp,
				topicId: topicId,
				parentLevel: parentLevel,
				parentId: parentId
			}, function(data) {
				tableData1 = data;
				breadcrumbData = data;
				setBreadcrumb(data);
				setTableMeta(data);
				if (tableData2 !== null) {
					setTableData(tableData2);
				}
			});
			
			sendPOSTRequest('/api/mastery/get-page-data', {
				startTimestamp: startTimestamp,
				endTimestamp: endTimestamp,
				topicId: topicId,
				parentLevel: parentLevel,
				parentId: parentId
			}, function(data) {
				tableData2 = data;
				if (tableData1 !== null) {
					setTableData(data);
				}
			});
        };
        
        // Fetch topics by calling API and update the dropdown menu
        var refreshTopicsDropdown = function() {
	        sendPOSTRequest('/api/mastery/topics', {
		        startTimestamp: startTimestamp,
				endTimestamp: endTimestamp,
				parentLevel: parentLevel,
				parentId: parentId
	        }, function(data) {
		        initializeTopicsDropdown(data);
	        });
        };
        
        // Instantiate date range picker
        var setupDateRangePicker = function() {
			$('.daterangepicker').daterangepicker({
				startDate: new Date(startTimestamp * 1000),
				endDate: new Date(endTimestamp * 1000)
            }, function(start, end, label) {
	            startTimestamp = new Date(start.format('YYYY-MM-DD')).getTime() / 1000;
	            endTimestamp = new Date(start.format('YYYY-MM-DD')).getTime() / 1000;
	            updatePageContent();
            });
        };
        
        /** Pragma Mark - Page Manipulation **/
        
        // Clears current breadcrumb and sets it to a new one according to given data.
        // Uses `appendBreadcrumbItem`
        var setBreadcrumb = function(data, upToLevel) {
            $('.report-breadcrumb').html('');
            var len = data.breadcrumb.length;
            for (idx in data.breadcrumb) {
                var o = data.breadcrumb[idx];
                var lastItem = idx == len - 1 || o.parentLevel == upToLevel;
                appendBreadcrumbItem(o.parentName, o.parentLevel, o.parentId, lastItem);
                if (lastItem) {
	                break;
                }
            }
        };
        
        // Initializes the topics dropdown according to given data
        // Calls `_setTopics` recursively
        var initializeTopicsDropdown = function(data) {
			var content = [];
			_setTopics(content, data.topics);
			
			$('#topics-tree').fancytree({
                checkbox: false,
                selectMode: 1,
                extensions: ['filter'],
				quicksearch: true,
				filter: {
			        autoApply: true,   // Re-apply last filter if lazy data is loaded
			        autoExpand: false, // Expand all branches that contain matches while filtered
			        counter: true,     // Show a badge with number of matching child nodes near parent icons
			        fuzzy: false,      // Match single characters in order, e.g. 'fb' will match 'FooBar'
			        hideExpandedCounter: true,  // Hide counter badge if parent is expanded
			        hideExpanders: false,       // Hide expanders if all child nodes are hidden by filter
			        highlight: true,   // Highlight matches by wrapping inside <mark> tags
			        leavesOnly: false, // Match end nodes only
			        nodata: true,      // Display a 'no data' status node if result is empty
			        mode: 'dimm'       // Grayout unmatched nodes (pass "hide" to remove unmatched node instead)
      			},
                source: content
            });
            
            $('#topic-filter-field').keyup(function(e) {
		        var n;
				var tree = $.ui.fancytree.getTree();
				var args = 'autoApply autoExpand fuzzy hideExpanders highlight leavesOnly nodata'.split(' ');
				var opts = {};
				var filterFunc = tree.filterBranches;
				var match = $(this).val();

				$.each(args, function(i, o) {
					opts[o] = $('#' + o).is(':checked');
      			});
	  			opts.mode = 'hide';

	  			if (e && e.which === $.ui.keyCode.ESCAPE || $.trim(match) === ''){
	  				$('#reset-search').click();
	  				return;
      			}

	  			n = filterFunc.call(tree, match, opts);
	        });
	        
	        $('#reset-search').click(function(e){
				$('#topic-filter-field').val('');
				var tree = $.ui.fancytree.getTree();
				tree.clearFilter();
    		});
        };
        
        // Instantiate both tables, insert rows with data partially populated
        var setTableMeta = function(data) {
            // insert columns
            for (idx in data.metrics) {
                $('#data-table .trend-column').before('<th>' + data.metrics[idx].displayName + '</th>');
                $('#aggregation-table .trend-column').before('<th>' + data.metrics[idx].displayName + '</th>');
            }
            // initialize tables
            table = $('#data-table').DataTable({});
            aggregationTable = $('#aggregation-table').DataTable({
                paging: false,
                ordering: false,
                info: false,
                bFilter: false,
                fnDrawCallback: function(oSettings) {
                    $(oSettings.nTHead).hide();
                }
            });
            // insert placeholder rows for data table
            for (idx in data.rows) {
                var array = [drilldownColumnHTML(data.rows[idx].name, data.rows[idx].id)];
                var nItems = data.metrics.length;
                while (nItems--) {
                    array.push('');
                }
                array.push(drawTrendButtonHTML(data.rows[idx].id));
                var rowNode = table.row.add(array).draw(false).node();
                var rowId = 'row-' + data.rows[idx].id;
                $(rowNode).attr('id', rowId);
            }
        };
        
    	// Replace dummy data inserted in `setTableMeta` with real data
        var setTableData = function(data) {
            // update data rows
            for (idx in data.rows) {
                var array = data.rows[idx].values;
                array.unshift(drilldownColumnHTML(data.rows[idx].name, data.rows[idx].id));
                array.push(drawTrendButtonHTML(data.rows[idx].id));
                table.row('#row-' + data.rows[idx].id).data(array).draw(false);
            }
            // add aggregation rows
            for (idx in data.aggregation) {
                var array = data.aggregation[idx].values;
                array.unshift(data.aggregation[idx].name);
                array.push('');
                aggregationTable.row.add(array).draw(false);
            }
        };
        
        // Get data remotely via `getTrendData` (async) and draw the chart (after removing previous chart -- if any)
        // IBAction
        var drawTrendChart = function(itemId) {
            dismissTrendChart();
            // TODO - chart loading screen
            getTrendData(itemId, function(trendData) {
	            var chartData = new google.visualization.DataTable();
	            
	            var options = {
	                chart: {
	                    title: 'Trend'
	                },
	                width: 900,
	                height: 500,
	                series: {
	                    
	                },
	                axes: {
	                    y: {
	                        percentage: {label: 'Percentage'},
	                        number: {label: 'Number'}
	                    }
	                }
	            };
	            
	            chartData.addColumn('date', 'Date');
	            var seriesIndex = 0;
	            for (idx in trendData.series) {
	                var dict = trendData.series[idx];
	                var type = dict.isPercentage ? 'percentage' : 'number';
	                chartData.addColumn('number', dict.name);
	                options.series[seriesIndex++] = {axis: type};
	            }
	            
	            chartData.addRows(trendData.points);
	            
	            var chartContainer = document.getElementById('chart-container');
	            var chart = new google.charts.Line(chartContainer);
	            chart.draw(chartData, options);
            });
        };
        
        /** Pragma Mark - IBActions **/
        
        // Toggle topics dropdown menu
        // IBAction
        var toggleTopicDropdown = function() {
	        $('#topic-dropdown-container').toggleClass('shown');
        };

        // Apply currently selected topic, dismiss the dropdown, and update the page (async)
        // IBAction
        var applyAndDismissTopicDropdown = function() {
	        var node = $("#topics-tree").fancytree('getTree').getActiveNode();
			if (node !== null) {
				topicId = node.key; // update global state
				updatePage();
			}
	        toggleTopicDropdown();
        };
        
        // IBAction
        var performDrilldown = function(id) {
	      	  parentId = id;
	      	  parentLevel++;
	      	  updatePageContent();
        };
        
        // IBAction
        var clickBreadcrumbLink = function(level, id) {
	      	parentId = id;
	      	parentLevel = level;
	      	setBreadcrumb(breadcrumbData, level);
	      	updatePageContent();  
        };
        
        // Dismiss trend diagram
        // IBAction
        var dismissTrendChart = function() {
            $('#chart-container').html('');
        };
        
        /** Pragma Mark - Utilities **/
        
        // Sends a POST request. Both request and return data are JSON object (non-stringified!!1!)
        // `callback` called when a response is received, with the actual response as the parameter.
        var sendPOSTRequest = function(url, dataObject, callback) {
	        if (debug) {
		        console.log('POST request sent to: ' + url);
		        console.log('POST data: ');
		        console.log(dataObject);
	        }
	        $.ajax({
				type: 'POST',
				url: url,
				data: JSON.stringify(dataObject),
				success: function(result) {
					if (debug) {
						console.log('Response:');
						console.log(result);
					}
					callback(result);
				},
				dataType: 'json'
			});
        };
        
        // Append a new breadcrumb item to the current list
        var appendBreadcrumbItem = function(name, level, id, isLast) {
            var html;
            if (isLast) {
                html = '<span class="breadcrumb-text">' + name + '</span>';
            } else {
                html = '<a class="breadcrumb-link" href="#" onclick="clickBreadcrumbLink(' + level + ', ' + id + ')">' + name + '</a>';
                if (!isLast) {
                    html += ' > ';
                }
            }
            
            $('.report-breadcrumb').append(html);
        };
        
		// See `initializeTopicsDropdown`
        var _setTopics = function(toArray, dataArray) {
	        for (idx in dataArray) {
		        var dict = dataArray[idx];
		        var newDict = {
			        title: dict.name,
			        key: dict.id,
			        folder: dict.children !== null
		        };
		        if (dict.children !== null) {
			        newDict['children'] = [];
			        _setTopics(newDict['children'], dict.children);
		        }
		        toArray.push(newDict);
	        }
        };

        // Returns the HTML code for draw trend button
        var drawTrendButtonHTML = function(itemId) {
            return '<button class="btn btn-default draw-trend-button" onclick="drawTrendChart(' 
                   + itemId + ')"><i class="fa fa-line-chart" aria-hidden="true"></i></button>';
        };
                
        // HTML code of drilldown column in data table
        var drilldownColumnHTML = function(name, id) {
	        if (parentLevel == 2) {
	        	return '<span>' + name + '</span>';
	        } else {
	        	return '<a href="#" class="drilldown-link" onclick="performDrilldown(' + id + ')">' + name + '</a>';
	        }
        };
        
        var processTrendData = function(data) {
            // API issue: data.points and data.data are both used historically. 
            // We use data.points as the official one but accept data.data also as a compatibility patch.
            if (data.data !== null && data.points === null) {
                data.points = data.data;
            }
                        
            for (idx in data.points) {
                var timestamp = data.points[idx][0];
                var dateObject = new Date(timestamp * 1000);
                data.points[idx][0] = dateObject;
            }
            
            return data;
        };
        
        // Get trend data with specific item id from server (via POST) and sanitize it 
        // Used by `drawTrendChart`
        var getTrendData = function(itemId, callback) {
            // Test
            callback(processTrendData(fakeTrendData()));
            return;
            
            sendPOSTRequest('/api/mastery/trend', {
                startTimestamp: startTimestamp,
                endTimestamp: endTimestamp,
                topicId: topicId,
                level: parentLevel + 1,
                itemId: itemId
            }, function(data) {
                callback(processTrendData(data));
            });            
        };
        
        /** Testing **/
        
        var fakeTrendData = function() {
            var data = {
                series: [
                    {
                        name: '% exercise completed',
                        isPercentage: true
                    },{
                        name: '% exercise correct',
                        isPercentage: true
                    },{
                        name: '# attempts',
                        isPercentage: false
                    }
                ],
                points: [
                    [1496941452, 15, 15, 2],
                    [1497042452, 32, 20, 5],
                    [1497143452, 45, 30, 12],
                    [1497344452, 52, 45, 14],
                    [1497945452, 65, 64, 18],
                    [1499246452, 77, 77, 21],
                    [1499347452, 80, 78, 23],
                    [1499448452, 99, 79, 25],
                    [1499949452, 100, 95, 30]
                ]
            };            
            
            return data;
        };
        
        var runTest = function() {
	        // Test
	        breadcrumbData = {
                breadcrumb: [{
                    parentName: "All Regions",
                    parentLevel: 0,
                    parentId: 0
                }, {
                    parentName: "East Sector",
                    parentLevel: 1,
                    parentId: 10
                }, {
                    parentName: "Suffolk County Charter School",
                    parentLevel: 2,
                    parentId: 25
                }]
            };
            setBreadcrumb(breadcrumbData);
            
            // Test
            setTableMeta({
                metrics: [{
                    displayName: "% exercise completed",
                    toolTip: "help text goes here"
                }, {
                    displayName: "% exercise correct",
                    toolTip: "help text goes here"
                }, {
                    displayName: "# attempts",
                    toolTip: "help text goes here"
                }, {
                    displayName: "% students completed the topic",
                    toolTip: "help text goes here"
                }],
                rows: [{
                    id: 1,
                    name: "East sector"
                }, {
                    id: 2,
                    name: "West sector"
                }, {
                    id: 3,
                    name: "North sector"
                }]
            });
            
            // Test
            setTableData({
                rows: [{
                    id: 1,
                    name: "East Sector",
                    values: [
                        "30%",
                        "25%",
                        1,
                        "10%"
                    ]
                }, {
                    id: 2,
                    name: "West Sector",
                    values: [
                        "30%",
                        "25%",
                        1,
                        "10%"
                    ]
                }, {
                    id: 3,
                    name: "North Sector",
                    values: [
                        "30%",
                        "25%",
                        1,
                        "10%"
                    ]
                }],
                aggregation: [{
                    name: "Average",
                    values: [
                        "30.75%",
                        "28.75%",
                        2.75,
                        "10%"
                    ]
                }]
            });

			// Test
            initializeTopicsDropdown({
				"topics": [{
					"id": 1,
					"name": "Channel 1",
					"children": [{
						"id": 10,
						"name": "Physics",
						"children": null
        			}]
        		},{
					"id": 2,
					"name": "Channel 2",
					"children": [{
						"id": 24,
						"name": "Algorithms",
						"children": null
        			}]
    			}]
			});
        };
        
        $(function() {
            google.charts.load('current', {'packages':['line', 'corechart']});
            
            setupDateRangePicker();
            //refreshTopicsDropdown();
            //updatePageContent();
            
            // Test
            runTest();
        });
    </script>
</body>
</html>